<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h2 class="h2"> List candidat</h2>

</div>

<div class="pricing-header mx-auto">
  <div class="no-data text-center" *ngIf="preLoader">
    <img src="assets/preloader.gif" class="preloader-icon" alt="No student" />
  </div>

  <div class="no-data text-center" *ngIf="noData">
    <img src="assets/no-student.svg" class="nodata-msg" alt="No student" />
    <p class="nodata-msg">No student added yet!</p>
    <a routerLink="/register-student" class="btn btn-success"> Add Student </a>
  </div>

  <div class="table-responsive" *ngIf="hideWhenNoStudent">
    <table
      class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg"
    >
      <thead>
        <tr>
          <th scope="col">Student Id</th>
          <th scope="col">Student name</th>
          <th scope="col">competence</th>
          <th scope="col">Experience</th>
          <th scope="col">Formation</th>
          
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let student of Student
              | paginate: { itemsPerPage: 8, currentPage: p };
            let i = index
          "
        >
          <th scope="row">{{ student.$key }}</th>
          <td>{{ null }} {{ null}}</td>
          <td>{{ student.competence }}</td>
          <td>{{ student.exp }}</td>
          <td>{{ student.domaine }}</td>
         
        </tr>
      </tbody>
    </table>
  </div>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
